:root {
    --color-text: #4A5568;
    --color-boton-azul: #4A5568;
    --color-boto-lila: #57007B;
    --color-black: #000000;
    --color-blanco: #FAFAFA;
    --color-title: #0D1C9F;
    --color-text-title: #4D4D4D;
    --color-fondo1: #F1F2FF;
    --color-fondo2: #E7DAED;
    --color-fondo3: #FFF4F4;
}

.encabezado img {
    width: 250px;
    left: 45px;
}

.encabezado p {
    color: var(--color-black);
}

.encabezado ul {
    color: var(--color-text);
    list-style: none;
    display: flex;
    margin: 10px;
}

.encabezado li {
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    text-align: center;


}

.encabezado {
    display: flex;
    justify-content: space-between;
}

.button1 {
    border-radius: 10px;
    background-color: var(--color-boton-azul);
    border: none;
    font-size: 15px;
    border-radius: 15px;
    font-weight: 600;
    padding: 20px 46px;
    color: var(--color-blanco);
    background: rgb(116, 131, 191);
    background: radial-gradient(circle, rgba(116, 131, 191, 0.8281687675070029) 0%, rgba(87, 0, 123, 0.7217261904761905) 33%);
}

.pag1 {
    display: flex;
    margin: 40px 40px;
    height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.pagsub h1 {
    font-size: 60px;
    color: linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(222, 67, 150, 1) 100%);

}

.pagsub p {
    font-size: 19px;
    color: var(--color-text);
    margin-top: 25px;
}

.pag2 {
    display: flex;
    margin: 40px 40px;
    height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;

}

.pagsub2 {
    font: size 0.5em;
    color: var(--color-boto-lila);
}

.letras {

    margin: 0%;
    align-items: center;

}

.letras h4 {
    margin: 0;
    color: var(--color-text-title);
    font-size: 30px;
}

.letras p {
    color: var(--color-text);

}

.icono>.iconos {
    width: 80px;

}

.icono {
    border-color: var(--color-boto-lila);
    display: flex;
    flex-direction: row;


}

.padre {
    display: flex;
    flex-wrap: wrap;
}

.seccion2 {

    display: flex;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}

.seccion2>.img {
    margin: 40px 40px;
}

.seccion2>.letras {
    background-color: var(--color-fondo1);
    margin: 40px 30px;
    padding: 50px;
}

.seccion2 button {
    font-size: larger;
    color: var(--color-boto-lila);
    background-color: transparent;
    border: none;
    font-weight: 600;


}

.seccion3 {

    display: flex;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}

.seccion3>.img {
    margin: 40px 40px;
}

.seccion3>.letras {
    background-color: var(--color-fondo2);
    margin: 40px 30px;
    padding: 50px;
}

.seccion3 button {
    font-size: larger;
    color: var(--color-boto-lila);
    background-color: transparent;
    border: none;
    font-weight: 600;
}

.seccion4 {
    display: flex;
    grid-template-columns: 20% 20%;
    justify-content: space-between;
}

.seccion4>.img {
    margin: 40px 40px;
}

.seccion4>.letras {
    background-color: var(--color-fondo3);
    margin: 40px 30px;
    padding: 50px;
}

.seccion4 button {
    font-size: larger;
    color: var(--color-boto-lila);
    background-color: transparent;
    border: none;
    font-weight: 600;
}

.comentarios {
    display: flex;
    display: grid;
    height: 500px;
    grid-template-columns: 45% 45%;
    margin: 30px 20px;

}

.hero2 {
    margin-top: 50px;
    margin: 0%;
    align-items: center;

}

.hero2 h4 {
    margin: 0;
    color: var(--color-black);
    font-size: 20px;
}

.hero2 p {
    color: var(--color-text);
    font-size: 15px;

}

.hero>.hero1 {
    width: 90px;

}

.hero {
    border: 2px solid var(--color-fondo1);
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin: 60px;
}

.titulodecomentario {
    justify-content: center;
    padding-left: 350px;
}
.footer{
    margin: 10px 20px;
    padding: 80px 80px;
}